<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Selection</title>
</head>
<body>
    <h1>Choose Your Activity</h1>
    <!-- <div>
        <h2>Remix Otis Redding</h2>
        <p>Create remixes of songs from Otis Redding's discography.</p>
        <a href="{{ url_for('remix_otis') }}"><button>Start Remixing</button></a>
    </div>
    -->
    <div>
        <h2>Find Your Voice</h2>
        <p>Who do you want to be in the world? Discover yourself through songwriting.</p>
        <a href="{{ url_for('find_your_voice') }}"><button>Start Writing</button></a>
    </div>
    <div>
        <h2>Find Your Style</h2>
        <p>How do you want to express your music visually? Discover your artistic style through album art.</p>
        <a href="{{ url_for('style_questions') }}"><button>Start Designing</button></a>
    </div>
</body>
</html>
